* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  margin: 0;
  min-width: 320px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* HEADER */
header {
  background-color: #000;
  color: #908a8a;
  text-align: center;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  color: #908a8a;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

header h1 {
  color: tomato;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
}

header h1 img {
  width: 4rem;
  margin: 0 auto;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header li {
  border: 1px solid #908a8a;
}

header nav > ul:first-of-type,
header nav > ul:nth-of-type(2) {
  font-size: 2rem;
}

header nav ul li {
  padding: 0.5rem 1rem;
}

header nav ul:not(:first-of-type) {
  display: flex;
}

header nav ul:not(:first-of-type) li {
  flex: 1;
}

.ul-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ul-group ul:first-of-type {
  display: flex;
  flex-direction: row;
}

.ul-group ul:first-of-type li {
  flex: 1;
}

.ul-group ul:last-of-type {
  justify-content: center;
}

.ul-group ul:last-of-type li {
  flex: unset;
}

/* MAIN */

main {
  padding: 3rem 5%;
  display: grid;
  gap: 2rem;
}

main article {
  display: grid;
  grid-template-columns: 1fr;
}

main article h2 {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 10;
  background: #fff;
  display: inline-block;
  align-self: start;
  justify-self: center;
  padding: 4px;
  font-size: 1.25rem;
}

main article img {
  border-radius: 16px;
  grid-row: 1;
  grid-column: 1/-1;
}

main p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.article-footer {
  display: flex;
  justify-content: space-between;
}

.article-footer .category span {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.3rem;
}

.article-footer .category ul {
  display: inline-block;
}

.article-footer .category li {
  display: inline-block;
  font-size: 0.75rem;
}

.article-footer .category li:not(:last-of-type)::after {
  content: ",";
}

.comments {
  font-size: 0.75rem;
}

.comments::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f086";
  margin-right: 0.25rem;
}

.pagination ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.pagination ul li:first-of-type::after {
  content: "|";
}

.pagination ul li {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  cursor: pointer;
}

.pagination ul li em {
  font-size: 1.5rem;
}

article:not(:last-of-type)::after {
  content: "\2665";
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  color: #ece7e7;
  cursor: pointer;
}

/* Footer */
footer {
  padding: 1rem 5%;
}

.promotional {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

input,
textarea {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field {
  display: flex;
}

.input-field i {
  border: 1px solid #908a8a;
  border-left: none;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

label {
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 1px;
  font-weight: 200;
}
label::after {
  content: " (REQUIRED)";
}

input {
  padding: 0.5rem;
  border: 1px solid #908a8a;
}

input:focus,
textarea:focus {
  border-color: hotpink;
  background-color: hotpink;
  color: white;
  outline: none;
}

.input-field:has(:focus) i {
  color: hotpink;
  border-color: hotpink;
}

input[type="submit"] {
  background-color: white;
  text-transform: lowercase;
}

input[type="submit"]:focus {
  background-color: hotpink;
  color: white;
}

form textarea {
  outline: none !important;
  resize: vertical;
}

@media screen and (min-width: 600px) {
  header nav > ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
  }

  header nav > ul:first-of-type li {
    flex: 1 0 auto;
  }
  header nav > ul:nth-of-type(2) {
    justify-content: center;
  }

  header nav > ul:nth-of-type(2) li {
    flex: unset;
  }

  .ul-group {
    flex-direction: row;
    justify-content: center;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
  }

  article:not(:last-of-type)::after {
    content: unset;
  }

  .pagination {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    display: flex;
    gap: 1rem;
  }

  footer > * {
    flex: 1;
  }

  .promotional {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("https://picsum.photos/1200/500?random=999");
    margin-bottom: 0;
    justify-content: center;
    color: white;
  }
}

@media screen and (min-width: 1100px) {
  header {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem 5%;
  }

  header h1,
  header nav {
    flex-direction: row;
    align-items: center;
  }

  header nav,
  .ul-group {
    gap: 1.5rem;
  }

  header nav > ul:first-of-type,
  header nav > ul:nth-of-type(2) {
    font-size: unset;
    display: flex;
    align-items: center;
  }

  header nav ul li {
    padding: 0.5rem;
  }

  .ul-group {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  header,
  main,
  footer {
    padding: 2rem 15%;
  }
}

@media screen and (min-width: 2000px) {
  body {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  header,
  main,
  footer {
    padding: 2rem 2rem;
  }

  header {
    flex-flow: column wrap;
    justify-content: center;
    flex: 0 0 100px;
  }

  header h1 {
    flex-flow: column nowrap;
  }

  header nav > ul:first-of-type,
  header nav > ul:nth-of-type(2) {
    font-size: 2rem;
  }

  header h1 span {
    white-space: nowrap;
  }

  header nav {
    flex-direction: column;
    align-items: stretch;
  }

  .ul-group {
    flex-direction: column;
    align-items: stretch;
  }

  main {
    flex: 1;
    max-width: 1300px;
    margin: 0 auto;
  }

  header {
    justify-content: center;
  }

  footer {
    flex-direction: column;
    flex: 0 0 400px;
  }

  footer .promotional {
    font-size: 2rem;
    padding: 2rem;
  }
}
